<section class="row">
    <div class="workout">
        {{#each WODs}}
        <img src='{{ image }}' alt='{{ name }}' class="wod-pics">
        <h1>{{ content }}</h1>
        <h2>{{ rounds }}</h2>
        <h2>{{ movement1 }}</h2>
        <h2>{{ movement2 }}</h2>
        <h2>{{ movement3 }}</h2>
        <h2> {{ movement4 }}</h2>
        <h2> {{ movement5}} </h2>
        <h2> {{ movement6 }} </h2>
        <h2> {{ movement7 }} </h2>
        {{#each comments}}
        <h2> {{ commentText }}</h2>

        {{/each}} {{/each}}
        <form action="/workout/{{WODs.id}}" method="POST" class="workout-form">
            <textarea name="commentText" cols="40" rows="5" placeholder="Message"></textarea>
            <input class="btn btn-outline-info" type="submit" />
        </form>
    </div>
</section>